div.Page_Title {
	text-align: center;
   	background-color: blue;
    color: white;
    margin: 20px 0 20px 0;
    padding: 20px;
    border-top: 10px;
    margin-top: 0px;
    margin-bottom:0px;
		display: block;
}

body {
	margin-top: 0px;
  	margin: 0px;
	background-image: url('../Images/c_scale,fl_progressive,q_80,w_800.jpg');
}

h2 {
	text-align: center;
	color: #3333ff;
}

.searchForm {
	width: 300px;
	margin: 0 auto;
	border-radius: 25px;
	background-color: #3366ff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3366ff;
    width:100%;
}

li {
    float: left;
}

table{
	border-spacing: 25px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #3333ff;
}
